@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    align-items: center;
    background: #fff;
}

.container{
    width: 80%;
    margin: 80px auto;

}
.container h1{
    padding: 60px 0;
    color: #000000;
    
    font-size: 44px;
    text-align: center;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col{
    flex-basis: 50%;
    min-width: 250px;
}

.feature-img{
    width: 87%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-img-row{
    display: flex;
    background: #fff;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
    margin-left: 80px;
    box-shadow:  5px 5px 10px #d1d1d1,
                 -5px -5px 10px #ffffff;
}

.small-img{
    position: relative;
}

.small-img img{
    width: 200px;
}

.small-img-row p{
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 15px;
}


.small-img .play-btn{
    width: 35px;
}

.text{
    font-size: 150px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(135deg,#5335cf 0%,#de005e 25%,#f66e48 50%,#de005e 75%,#5335cf 100%);
    background-size: 400%;
    margin-top: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
    font-family: sans-serif, Poppins;
}
@keyframes animate {
    100%{
        background-position: 400%;
    }
}